#INPUT
CATALOGUE   example/stellar+ir/c2015_sdc2_example.fits
BANDS_FILE  example/stellar+ir/example.bands
EXTRA_BANDS_FILE    None
PARAM_FILE  example/stellar+ir/example.param
#===============================================================================
#OUTPUT PARAMETERS
#===============================================================================
PATH    example/test/output/
OUTPUT_NAME release_test
#FIGLOC  =f'{PATH}figures/'
#sedloc=f'{PATH}seds/' 
#covarloc=f'{PATH}covar_tables/'
#===============================================================================
#GENERAL SETTINGS
#===============================================================================
VERBOSE 1 
FLUX_UNIT   mJy
EXTRA_BANDS 0
USE_COLD_DL 1
RADIO_METHOD    delv20
SAVE_FIGURE 0
SAVE_TABLE 1
SAVE_SED 0
SAVE_COVAR 0
#===============================================================================
#ADVANCED SETTINGS
#===============================================================================
UNCERT_SCALE 0.05
QSO 0
IGM_SWITCH 0
USE_OWN_STELLAR_MASS False
ABZP    23.9
#===============================================================================
#TEMPLATE PARAMETERS
#===============================================================================
FIT_DUST 1
FIT_AGN 1
FIT_STELLAR 1
#===============================================================================